.list
	{
	position:relative;
	width:100%;

	font-size:.8em;
	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	vertical-align: middle;
	margin-bottom: 1.2em;
	}

.list.admin
	{
	font-size:inherit !important;
	}
	
.list.admin .row .field
	{
	align-self: flex-start;
	}
	
.list .field small,
.list .field a
	{
	margin-left:.1em;
	}

.left_50
	{
	display:table;
	width:49%;
	float:left;
	}

.right_50
	{
	display:table;
	width:49%;
	float:right;
	}
	
.center_50,
.center_100
	{
	position:relative;
	display:inline-table;
	width:49%;
	margin:0 auto;
	}

.center_100
	{
	width:100%;		
	}


.list .field.avatar
	{
	padding:0;
	vertical-align:top;
	border-top:solid .8em rgba(255,255,255,0);
	}

.list .field.avatar img
	{
	width:100%;
	height:auto;
	}


.list .row
	{
	position:relative;
	display:flex;
	flex:1 100%;
	clear: both;
	
	flex-wrap:wrap;
	align-content:stretch;
	align-items: center;
	justify-content:space-around;

	vertical-align:middle;
	margin-bottom:.4em;
	padding:.4em;
	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;	
	}

	
.list .row.ads
	{
	border-bottom:1px solid rgba(255,255,255,.1);
	}
	
.list .row.empty
	{
	background:none;
	justify-content:flex-start;
	}

.list .row.header
	{
	background:rgba(0,0,0,.15);	
	border-bottom:dashed 1px rgba(255, 255, 255, .15);
	}

.list .field
	{
	position:relative;
	display:flex;
	align-items: center;
	justify-content:flex-start;

	padding-left:.1em;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	
	text-align: left;
	}

.list .fixed
	{
	flex-wrap: wrap !important;
	}
	
.list .notfixed
	{
	white-space: nowrap;
	flex-wrap: nowrap !important;
	}


.list .segment,
.flex .segment
	{
	position:relative;
	display:flex;
	position:relative;
	justify-content:center;
	justify-content:space-around;

	padding-left:.1em;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	}
	
	
/* ширина флекса полей списков*/
.list .field.center,
.list .segment.center,
.list .row.center
	{
	justify-content:center !important;
	align-items :center !important;
	text-align: center;
	}
	
.list .field.right,
.list .segment.right,
.list .row.right
	{
	justify-content:flex-end !important;
	}

.list .field.left,
.list .segment.left,
.list .row.left
	{
	justify-content:flex-start !important;
	}	

	.list .field.p1,
	.list .segment.p1 {
	  flex: 1;
	}
	
	.list .field.p2,
	.list .segment.p2 {
	  flex: 2;
	}
	
	.list .field.p3,
	.list .segment.p3 {
	  flex: 3;
	}
	
	.list .field.p4,
	.list .segment.p4 {
	  flex: 4;
	}
	
	.list .field.p5,
	.list .segment.p5 {
	  flex: 5;
	}
	
	.list .field.p6,
	.list .segment.p6 {
	  flex: 6;
	}
	
	.list .field.p7,
	.list .segment.p7 {
	  flex: 7;
	}
	
	.list .field.p8,
	.list .segment.p8 {
	  flex: 8;
	}
	
	.list .field.p9,
	.list .segment.p9 {
	  flex: 9;
	}
	
	.list .field.p10,
	.list .segment.p10 {
	  flex: 10;
	}
	
	.list .field.p11,
	.list .segment.p11 {
	  flex: 11;
	}
	
	.list .field.p12,
	.list .segment.p12 {
	  flex: 12;
	}
	
	.list .field.p13,
	.list .segment.p13 {
	  flex: 13;
	}
	
	.list .field.p14,
	.list .segment.p14 {
	  flex: 14;
	}
	
	.list .field.p15,
	.list .segment.p15 {
	  flex: 15;
	}
	
	.list .field.p16,
	.list .segment.p16 {
	  flex: 16;
	}
	
	.list .field.p17,
	.list .segment.p17 {
	  flex: 17;
	}
	
	.list .field.p18,
	.list .segment.p18 {
	  flex: 18;
	}
	
	.list .field.p19,
	.list .segment.p19 {
	  flex: 19;
	}
	
	.list .field.p20,
	.list .segment.p20 {
	  flex: 20;
	}
	
	.list .field.p21,
	.list .segment.p21 {
	  flex: 21;
	}
	
	.list .field.p22,
	.list .segment.p22 {
	  flex: 22;
	}
	
	.list .field.p23,
	.list .segment.p23 {
	  flex: 23;
	}
	
	.list .field.p24,
	.list .segment.p24 {
	  flex: 24;
	}
	
	.list .field.p25,
	.list .segment.p25 {
	  flex: 25;
	}
	
	.list .field.p26,
	.list .segment.p26 {
	  flex: 26;
	}
	
	.list .field.p27,
	.list .segment.p27 {
	  flex: 27;
	}
	
	.list .field.p28,
	.list .segment.p28 {
	  flex: 28;
	}
	
	.list .field.p29,
	.list .segment.p29 {
	  flex: 29;
	}
	
	.list .field.p30,
	.list .segment.p30 {
	  flex: 30;
	}
	
	.list .field.p31,
	.list .segment.p31 {
	  flex: 31;
	}
	
	.list .field.p32,
	.list .segment.p32 {
	  flex: 32;
	}
	
	.list .field.p33,
	.list .segment.p33 {
	  flex: 33;
	}
	
	.list .field.p34,
	.list .segment.p34 {
	  flex: 34;
	}
	
	.list .field.p35,
	.list .segment.p35 {
	  flex: 35;
	}
	
	.list .field.p36,
	.list .segment.p36 {
	  flex: 36;
	}
	
	.list .field.p37,
	.list .segment.p37 {
	  flex: 37;
	}
	
	.list .field.p38,
	.list .segment.p38 {
	  flex: 38;
	}
	
	.list .field.p39,
	.list .segment.p39 {
	  flex: 39;
	}
	
	.list .field.p40,
	.list .segment.p40 {
	  flex: 40;
	}
	
	.list .field.p41,
	.list .segment.p41 {
	  flex: 41;
	}
	
	.list .field.p42,
	.list .segment.p42 {
	  flex: 42;
	}
	
	.list .field.p43,
	.list .segment.p43 {
	  flex: 43;
	}
	
	.list .field.p44,
	.list .segment.p44 {
	  flex: 44;
	}
	
	.list .field.p45,
	.list .segment.p45 {
	  flex: 45;
	}
	
	.list .field.p46,
	.list .segment.p46 {
	  flex: 46;
	}
	
	.list .field.p47,
	.list .segment.p47 {
	  flex: 47;
	}
	
	.list .field.p48,
	.list .segment.p48 {
	  flex: 48;
	}
	
	.list .field.p49,
	.list .segment.p49 {
	  flex: 49;
	}
	
	.list .field.p50,
	.list .segment.p50 {
	  flex: 50;
	}
	
	.list .field.p51,
	.list .segment.p51 {
	  flex: 51;
	}
	
	.list .field.p52,
	.list .segment.p52 {
	  flex: 52;
	}
	
	.list .field.p53,
	.list .segment.p53 {
	  flex: 53;
	}
	
	.list .field.p54,
	.list .segment.p54 {
	  flex: 54;
	}
	
	.list .field.p55,
	.list .segment.p55 {
	  flex: 55;
	}
	
	.list .field.p56,
	.list .segment.p56 {
	  flex: 56;
	}
	
	.list .field.p57,
	.list .segment.p57 {
	  flex: 57;
	}
	
	.list .field.p58,
	.list .segment.p58 {
	  flex: 58;
	}
	
	.list .field.p59,
	.list .segment.p59 {
	  flex: 59;
	}
	
	.list .field.p60,
	.list .segment.p60 {
	  flex: 60;
	}
	
	.list .field.p61,
	.list .segment.p61 {
	  flex: 61;
	}
	
	.list .field.p62,
	.list .segment.p62 {
	  flex: 62;
	}
	
	.list .field.p63,
	.list .segment.p63 {
	  flex: 63;
	}
	
	.list .field.p64,
	.list .segment.p64 {
	  flex: 64;
	}
	
	.list .field.p65,
	.list .segment.p65 {
	  flex: 65;
	}
	
	.list .field.p66,
	.list .segment.p66 {
	  flex: 66;
	}
	
	.list .field.p67,
	.list .segment.p67 {
	  flex: 67;
	}
	
	.list .field.p68,
	.list .segment.p68 {
	  flex: 68;
	}
	
	.list .field.p69,
	.list .segment.p69 {
	  flex: 69;
	}
	
	.list .field.p70,
	.list .segment.p70 {
	  flex: 70;
	}
	
	.list .field.p71,
	.list .segment.p71 {
	  flex: 71;
	}
	
	.list .field.p72,
	.list .segment.p72 {
	  flex: 72;
	}
	
	.list .field.p73,
	.list .segment.p73 {
	  flex: 73;
	}
	
	.list .field.p74,
	.list .segment.p74 {
	  flex: 74;
	}
	
	.list .field.p75,
	.list .segment.p75 {
	  flex: 75;
	}
	
	.list .field.p76,
	.list .segment.p76 {
	  flex: 76;
	}
	
	.list .field.p77,
	.list .segment.p77 {
	  flex: 77;
	}
	
	.list .field.p78,
	.list .segment.p78 {
	  flex: 78;
	}
	
	.list .field.p79,
	.list .segment.p79 {
	  flex: 79;
	}
	
	.list .field.p80,
	.list .segment.p80 {
	  flex: 80;
	}
	
	.list .field.p81,
	.list .segment.p81 {
	  flex: 81;
	}
	
	.list .field.p82,
	.list .segment.p82 {
	  flex: 82;
	}
	
	.list .field.p83,
	.list .segment.p83 {
	  flex: 83;
	}
	
	.list .field.p84,
	.list .segment.p84 {
	  flex: 84;
	}
	
	.list .field.p85,
	.list .segment.p85 {
	  flex: 85;
	}
	
	.list .field.p86,
	.list .segment.p86 {
	  flex: 86;
	}
	
	.list .field.p87,
	.list .segment.p87 {
	  flex: 87;
	}
	
	.list .field.p88,
	.list .segment.p88 {
	  flex: 88;
	}
	
	.list .field.p89,
	.list .segment.p89 {
	  flex: 89;
	}
	
	.list .field.p90,
	.list .segment.p90 {
	  flex: 90;
	}
	
	.list .field.p91,
	.list .segment.p91 {
	  flex: 91;
	}
	
	.list .field.p92,
	.list .segment.p92 {
	  flex: 92;
	}
	
	.list .field.p93,
	.list .segment.p93 {
	  flex: 93;
	}
	
	.list .field.p94,
	.list .segment.p94 {
	  flex: 94;
	}
	
	.list .field.p95,
	.list .segment.p95 {
	  flex: 95;
	}
	
	.list .field.p96,
	.list .segment.p96 {
	  flex: 96;
	}
	
	.list .field.p97,
	.list .segment.p97 {
	  flex: 97;
	}
	
	.list .field.p98,
	.list .segment.p98 {
	  flex: 98;
	}
	
	.list .field.p99,
	.list .segment.p99 {
	  flex: 99;
	}	

.list .field img[src*="time"],
.list .field img[src*="exclusive"]
	{
	cursor:help;
	}

.list .field img[src*="time"]
	{
	opacity:.3 !important;
	}

.list .field.status a
	{
	width:100%;
	text-align:center;

	background:rgba(255, 255, 255, .1);
	text-shadow:0 1px black !important;
		
	font-size:.9em;
	font-weight:normal;

	padding:.4em .4em;
	text-decoration:none;

	border-radius:4px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;	

	opacity:.8;

	vertical-align: middle;
	height:1.6em;
	line-height: 1.6em;
	}

.list .field.status a:hover
	{
	opacity:1;
	background:rgba(255, 255, 255, .4);
	}


.list .title:not(.modal_row) 
	{	
	position:relative;
	display: table;
	width:100%;
	font-size:1.2em;
	padding-bottom:.4em;
	border-bottom:1px solid rgba(255,255,255,.3);
	margin-bottom:1.2em;
	}

/* символ связи с кнопкой */
.list .connector
	{
	display:table;
	width:auto;
	}

.list .connector.admin
	{
	float:left;
	}

.list .connector:before
	{
	position:relative;
	top:-1.7em;
	left:1em;
	display:table;
	content:'';
	float:left;
	width:2em;
	height:4em;
	z-index:1;
	}

/* галлерея изображений */
.list .gallery
	{
	position:relative;
	display:table;
	/* width:100%; */
	text-align:center;

	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	}

.list .preview
	{
	position:relative;
	display:inline-table;
	margin:.1em;
	height:auto;

	border-radius:.4em;
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	}

.list img.preview.small
	{
	width:3em;
	}


.list .preview

.list img.preview
	{
	margin:0;
	width:6em;
	height:auto;
	}

.panel img.preview.small
	{
	width:3em;
	}

/* описание панели */
.list .row.desc
	{
	border-top:1px solid rgba(255,255,255,.1) !important;
	font-size:.8em;
	opacity:.5;
	background:none;
	}

.list .row.desc p
	{
	margin-top:.7em;
	line-height:1em;
	}


.info_row
	{
	padding:.2em 1.2em;
	vertical-align:middle;
	}
	
.info_row label
	{
	margin-right:1.2em;
	}

.level
	{
	color:rgba(255, 255, 255, .7);
	font-size:.75em;
	position:relative;
	top:2px;	
	}
	
.list .time
	{
	cursor:help;
	text-align:center;
	font-size:.6em;
	line-height:1!important;
	color:lightgreen;
	text-shadow:none !important;
	}
	
.list .field .icon
	{
	display:inline-table;
	margin:.2em;
	float:left;
	width:1.4em;
	height:1.4em;
	overflow: hidden;
	border-radius:50%;
	}
	
	
.list .field .perc
	{
	position:absolute;
	left:50%;
	width:6em;
	margin-left:-3em;
	text-align: center;
	}

.list .field .perc:after
	{
	content:'%';
	font-size: small;
	left:.2em;
	}
	
/* мобильный лайфхак */
@media screen and (max-width: 1024px)
	{
	.list .segment
		{
		flex: 0 0 100% !important;
		padding:.4em;
		}
		
	}
	
.field .list
	{
	margin-bottom: 0 !important;
	}


.list .row .field.img .btn
	{
	position:relative;
	display:inline-table;
	width:1.7em;
	height:1.7em;
	margin:.1em;
	opacity:.5;
	cursor: pointer;
	}

.list .row .field.img .btn img
	{
	width:100%;
	height:auto;
	}

	
.list .row .field.img .btn span
	{
	cursor:pointer;
	}

.list .row .field.img .btn:hover
	{
	opacity:1;
	}