/*// ================ CRC ================
// version: 1.50.01
// hash: ad6fa2437169f7abb723890bf84cf699a3e9112a5febf9bb3627324933f37ebb
// date: 10 March 2021  9:27
// ================ CRC ================*/
.flex
	{
	position: relative;
	display: flex;
	width:100%;
	}
	
.flrow, .flex-row
	{
	position: relative;
	display: flex;
	flex:0 0 100%;	
	flex-direction:row;
	}

.flcolumn, .flex-column
	{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	

.flwrow100, .flex-row100
	{
	width: 100%;
	}

.flcolumn100, .flex-column100
	{
	height: 100%;	
	}


.flex div.left
	{
	text-align: left;
	}

.flex div.right
	{
	text-align: right;
	}

.flex div.center
	{
	text-align: center;
	}


.fl1
	{
	flex:1;
-webkit-flex:1;	
	flex-grow: 1;	
	}
.fl2
	{
	flex:2;
-webkit-flex:2;	
	}
.fl3
	{
	flex:3;
-webkit-flex:3;	
	}
.fl4
	{
	flex:4;
-webkit-flex:4;	
	}
.fl5
	{
	flex:5;
-webkit-flex:5;	
	}
.fl6
	{
	flex:6;
-webkit-flex:6;	
	}
.fl7
	{
	flex:7;
-webkit-flex:7;	
	}
.fl8
	{
	flex:8;
-webkit-flex:8;	
	}
.fl9
	{
	flex:9;
-webkit-flex:9;	
	}
.fl10
	{
	flex:10;
-webkit-flex:10;	
	}
.fl11
	{
	flex:11;
-webkit-flex:11;	
	}
.fl12
	{
	flex:12;
-webkit-flex:12;	
	}
.fl13
	{
	flex:13;
-webkit-flex:13;	
	}
.fl14
	{
	flex:14;
-webkit-flex:14;	
	}
.fl15
	{
	flex:15;
-webkit-flex:15;
	}
.fl16
	{
	flex:16;
-webkit-flex:16;	
	}
.fl17
	{
	flex:17;
-webkit-flex:17;	
	}
.fl18
	{
	flex:18;
-webkit-flex:18;	
	}
.fl19
	{
	flex:19;
-webkit-flex:19;	
	}
.fl20
	{
	flex:20;
-webkit-flex:20;	
	}
.fl21
	{
	flex:21;
-webkit-flex:21;	
	}
.fl22
	{
	flex:22;
-webkit-flex:22;	
	}
.fl23
	{
	flex:23;
-webkit-flex:23;	
	}
.fl24
	{
	flex:24;
-webkit-flex:24;	
	}
.fl25
	{
	flex:25;
-webkit-flex:25;	
	}
.fl26
	{
	flex:26;
-webkit-flex:26;	
	}
.fl27
	{
	flex:27;
-webkit-flex:27;	
	}
.fl28
	{
	flex:28;
-webkit-flex:28;	
	}
.fl29
	{
	flex:29;
-webkit-flex:29;	
	}
.fl30
	{
	flex:30;
-webkit-flex:30;	
	}
.fl31
	{
	flex:31;
-webkit-flex:31;	
	}
.fl32
	{
	flex:32;
-webkit-flex:32;	
	}
.fl33
	{
	flex:33;
-webkit-flex:33;	
	}
.fl34
	{
	flex:34;
-webkit-flex:34;	
	}
.fl35
	{
	flex:35;
-webkit-flex:35;	
	}
.fl36
	{
	flex:36;
-webkit-flex:36;
	}
.fl37
	{
	flex:37;
-webkit-flex:37;
	}
.fl38
	{
	flex:38;
-webkit-flex:38;
	}
.fl39
	{
	flex:39;
-webkit-flex:39;
	}
.fl40
	{
	flex:40;
-webkit-flex:40;
	}
.fl41
	{
	flex:41;
-webkit-flex:41;
	}
.fl42
	{
	flex:42;
-webkit-flex:42;
	}
.fl43
	{
	flex:43;
-webkit-flex:43;
	}
.fl44
	{
	flex:44;
-webkit-flex:44;
	}
.fl45
	{
	flex:45;
-webkit-flex:45;
	}
.fl46
	{
	flex:46;
-webkit-flex:46;
	}
.fl47
	{
	flex:47;
-webkit-flex:47;
	}
.fl48
	{
	flex:48;
-webkit-flex:48;
	}
.fl49
	{
	flex:49;
-webkit-flex:49;
	}
.fl50
	{
	flex:50;
-webkit-flex:50;
	}
.fl51
	{
	flex:51;
-webkit-flex:51;
	}
.fl52
	{
	flex:52;
-webkit-flex:52;
	}
.fl50
	{
	flex:50;
-webkit-flex:50;
	}
.fl54
	{
	flex:53;
-webkit-flex:53;
	}
.fl54
	{
	flex:54;
-webkit-flex:54;
	}
.fl55
	{
	flex:55;
-webkit-flex:55;
	}
.fl56
	{
	flex:56;
-webkit-flex:56;
	}
.fl57
	{
	flex:57;
-webkit-flex:57;
	}
.fl58
	{
	flex:58;
-webkit-flex:58;
	}
.fl59
	{
	flex:59;
-webkit-flex:59;
	}
.fl60
	{
	flex:60;
-webkit-flex:60;
	}
.fl61
	{
	flex:61;
-webkit-flex:61;
	}
.fl62
	{
	flex:62;
-webkit-flex:62;
	}
.fl63
	{
	flex:63;
-webkit-flex:63;
	}
.fl64
	{
	flex:64;
-webkit-flex:64;
	}
.fl65
	{
	flex:65;
-webkit-flex:65;
	}
.fl66
	{
	flex:66;
-webkit-flex:66;
	}
.fl67
	{
	flex:67;
-webkit-flex:67;
	}
.fl68
	{
	flex:68;
-webkit-flex:68;
	}
.fl69
	{
	flex:69;
-webkit-flex:69;
	}
.fl70
	{
	flex:70;
-webkit-flex:70;
	}
.fl71
	{
	flex:71;
-webkit-flex:71;
	}
.fl72
	{
	flex:72;
-webkit-flex:72;
	}
.fl73
	{
	flex:73;
-webkit-flex:73;
	}
.fl74
	{
	flex:74;
-webkit-flex:74;
	}
.fl75
	{
	flex:75;
-webkit-flex:75;
	}
.fl76
	{
	flex:76;
-webkit-flex:76;
	}
.fl77
	{
	flex:77;
-webkit-flex:77;
	}
.fl78
	{
	flex:78;
-webkit-flex:78;
	}
.fl79
	{
	flex:79;
-webkit-flex:79;
	}
.fl80
	{
	flex:80;
-webkit-flex:80;
	}
.fl81
	{
	flex:81;
-webkit-flex:81;
	}
.fl82
	{
	flex:82;
-webkit-flex:82;
	}
.fl83
	{
	flex:83;
-webkit-flex:83;
	}
.fl84
	{
	flex:84;
-webkit-flex:84;
	}
.fl85
	{
	flex:85;
-webkit-flex:85;
	}
.fl86
	{
	flex:86;
-webkit-flex:86;
	}
.fl87
	{
	flex:87;
-webkit-flex:87;
	}
.fl88
	{
	flex:88;
-webkit-flex:88;
	}
.fl89
	{
	flex:89;
-webkit-flex:89;
	}
.fl90
	{
	flex:90;
-webkit-flex:90;
	}
.fl91
	{
	flex:91;
-webkit-flex:91;
	}
.fl92
	{
	flex:92;
-webkit-flex:92;
	}
.fl93
	{
	flex:93;
-webkit-flex:93;
	}
.fl94
	{
	flex:94;
-webkit-flex:94;
	}
.fl95
	{
	flex:95;
-webkit-flex:95;
	}
.fl96
	{
	flex:96;
-webkit-flex:96;
	}
.fl97
	{
	flex:97;
-webkit-flex:97;
	}
.fl98
	{
	flex:98;
-webkit-flex:98;
	}
.fl99
	{
	flex:99;
-webkit-flex:99;
	}
.fl100
	{
	flex:100;
-webkit-flex:100;
	}