/*// ================ CRC ================
// version: 1.15.01
// hash: 4d44b3eecd3008a9ccc99438e6cef316c15552917a21291a9f1905c6682b72b4
// date: 16 September 2018 17:02
// ================ CRC ================*/
.ed_title
	{
	font-size:1.2em;
	font-weight:bold;
	line-height:1;
	margin-top:.4em;
	}

.content_date
	{
	float:left;
	color:lightgray;
	display:inline-table;
	margin:.2em auto;
	margin-right:1em;
	font-size:.85em;
	vertical-align:middle;
	}
	
.content_date .date
	{
	font-size:.85em;
	}
	
.content_date.event
	{
	vertical-align:middle;
	margin:.1em auto;
	}