/*// ================ CRC ================
// version: 1.15.06
// hash: a74acff1d7c4df403583fba1b6446a34bbf91ddc4e2b9ff79a9904bdb73e6e07
// date: 10 March 2021  9:27
// ================ CRC ================*/
.boxed
	{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	}

.centered
	{
	clear:both;
	text-align:center;
	}
	
.admin_panel_div
	{
	margin:0px auto;
	width:100%;
	display:table;
	position:relative;
	top:-1.2em;
	}
	
.hidden
	{
	display: none;
	}
