/*// ================ CRC ================
// ================ CRC ================*/
.boxed
	{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	}

.centered
	{
	clear:both;
	text-align:center;
	}
	
.admin_panel_div
	{
	margin:0px auto;
	width:100%;
	display:table;
	position:relative;
	top:-1.2em;
	}
	
.hidden
	{
	display: none;
	}
